	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate edit_from" novalidate="novalidate">

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">供应商编号</label>
				<input type="hidden" name="id" value="{$info.id}">
				<input type="text" class="form-control" name="sn" placeholder="供应商编号" value="{$info.sn}" disabled="disabled">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">供应商名称</label>
				<input type="text" class="form-control" name="name" placeholder="供应商名称" value="{$info.name}">
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
				<label for="field-3" class="control-label">供应商地址</label>	
				<input type="text" class="form-control" name="address" placeholder="供应商地址" value="{$info.address}">
			</div>	
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">联系人</label>
				
				<input type="text" class="form-control" name="contact" placeholder="联系人" value="{$info.contact}">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">手机号</label>
				
				<input type="text" class="form-control" name="phone" placeholder="手机号"  value="{$info.phone}">
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">邮箱</label>
				
				<input type="text" class="form-control" name="email" placeholder="邮箱" value="{$info.email}">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">传真</label>
				
				<input type="text" class="form-control" name="fax" placeholder="传真" value="{$info.fax}">
			</div>	
		
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
                <label class="control-label">供应商状态</label>
                <select class="form-control" name="status">
                    <option value="0" {eq name="info.status" value="0"} selected="selected" {/eq} >正常</option>
                    <option value="1" {eq name="info.status" value="1"} selected="selected" {/eq} >废弃</option>
                </select>  
			</div>	
		
		</div> 
    </div>


	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.desc}</textarea>
			</div>	
		</div>
	</div>

	
</form>