			<!-- Main Footer -->

			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1" >
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text">
						&copy; 2014 
						<strong>Xenon</strong> 
						More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
					</div>
					
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					
				</div>
				
			</footer>
		</div>
		
			
		
		
	</div>
	
	



	<!-- Bottom Scripts -->
	<script src="__STATIC__/js/bootstrap.min.js"></script>
	<script src="__STATIC__/js/TweenMax.min.js"></script>
	<script src="__STATIC__/js/resizeable.js"></script>
	<script src="__STATIC__/js/joinable.js"></script>
	<script src="__STATIC__/js/xenon-api.js"></script>
	<script src="__STATIC__/js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="__STATIC__/js/xenon-custom.js"></script>

</body>
</html>