<?php
$request= \think\Request::instance();

?>
				<ul id="main-menu" class="main-menu">

					{volist name='_menuList.father' id='vo'}
						<li>
							<a href="{:url($vo->controller.'/'.$vo->action)}">
								<i class="{$vo.ico}"></i>
								<span class="title">{$vo.name}</span>
							</a>
							{if condition="$vo.controller eq '' "}
							<ul>
							{volist name='_menuList.child' id='vv'}
								{if condition="$vv.pid eq $vo.id"}
									<li class=" {$vv->controller}-{$vv->action}">
										<a href="{:url($vv->controller.'/'.$vv->action)}"><span class="title">{$vv.name}</span></a>
									</li>
								{else /}
								{/if}
							{/volist}
							</ul>
							{/if}

						</li>
					{/volist}
			
				</ul>


<script>
	var className = '{$request->controller()}-{$request->action()}'
	$("."+className).addClass('active');
	$("."+className).parent().parent().addClass('active open');
	$("."+className).parent().show();
</script>