	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate add-form" novalidate="novalidate">

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">客户编号</label>
				<input type="text" class="form-control" name="sn" placeholder="客户编号" value="{:uniqid()}">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">客户名称</label>
				
				<input type="text" class="form-control" name="name" placeholder="客户名称" >
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
				<label for="field-3" class="control-label">客户地址</label>
				
				<input type="text" class="form-control" name="address" placeholder="客户地址">
			</div>	
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">联系人</label>
				
				<input type="text" class="form-control" name="contact" placeholder="联系人">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">手机号</label>
				
				<input type="text" class="form-control" name="phone" placeholder="手机号">
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">邮箱</label>
				
				<input type="text" class="form-control" name="email" placeholder="邮箱">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">传真</label>
				
				<input type="text" class="form-control" name="fax" placeholder="传真">
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
			</div>	
		</div>
	</div>

	
</form>