	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->


<form class="validate add-form" novalidate="novalidate">

	<div class="row">	
		<div class="col-md-12">
			
			<div class="form-group">
				<label for="field-2" class="control-label">订单编号</label>
				
				<input type="text" class="form-control" name="sn" placeholder="订单编号" >
			</div>	
		
		</div>
	</div>

	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">商品编号</label>
				
				<input type="text" class="form-control" name="product_no" placeholder="商品编号" >
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">商品数量</label>
				
				<input type="text" class="form-control" name="goods_number" placeholder="商品数量" >
			</div>	
		</div>
	</div>	

	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">订单来源</label>
				
				<input type="text" class="form-control" name="product_no" placeholder="商品编号" >
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">制单人</label>
				
				<input type="text" class="form-control" name="goods_number" placeholder="制单人" >
			</div>	
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
                <label class="control-label">订单状态</label>
                <select class="form-control" name="status">
                    <option value="0"  >正常</option>
                    <option value="1"  >废弃</option>
                </select>  
			</div>	
		
		</div> 
    </div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
			</div>	
		</div>
	</div>

</form>