	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate edit_from" novalidate="novalidate">

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">订单编号</label>
				<input type="hidden" name="id" value="{$info.id}">
				<input type="text" class="form-control" placeholder="订单编号" value="#{$info.id}" disabled="disabled">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">订单名称</label>
				<input type="text" class="form-control" name="name" placeholder="订单名称" value="{$info.name}">
			</div>	
		
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
                <label class="control-label">订单状态</label>
                <select class="form-control" name="status">
                    <option value="0" {eq name="info.status" value="0"} selected="selected" {/eq} >正常</option>
                    <option value="1" {eq name="info.status" value="1"} selected="selected" {/eq} >废弃</option>
                </select>  
			</div>	
		
		</div> 
    </div>


	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.desc}</textarea>
			</div>	
		</div>
	</div>

	
</form>