	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate add-form" novalidate="novalidate">

	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-1" class="control-label">仓库编号</label>
				<input type="text" class="form-control" name="sn" placeholder="仓库编号" value="{:date('ymdhis',time())}{:rand(10000,99999)}">
			</div>	
			
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label for="field-2" class="control-label">仓库名称</label>
				
				<input type="text" class="form-control" name="name" placeholder="仓库名称" >
			</div>	
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
                <label class="control-label">所属仓库</label>
                <select class="form-control" name="storage">
	                {volist name='storage' id='vo'}
	                    <option value="{$vo->id}" >{$vo->name}</option>
	                {/volist}
                </select>  
			</div>	
		</div>
		
		<div class="col-md-6">
			<div class="form-group">
                <label class="control-label">库位状态</label>
                <select class="form-control" name="status">
                    <option value="0" >正常</option>
                    <option value="1" >废弃</option>
                </select>  
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
			</div>	
		</div>
	</div>

	
</form>